<html>
<head>
  <title>{{ ansible_hostname }}</title>
</head>
<body style="background-color: #ADD8E6;">
  <h1><b># CONZA TECH - DEMO</b></h1>
  <h2>- VIP: {{ nsxVip }}</h2>
  <h2>- PROTOCOL: {{ nsxProtocol }}</h2>
  <h2>- ALGORITHM: {{ nsxAlgorithm }}</h2>
  <h2>- NODE: {{ ansible_hostname }}</h2>
</body>
</html>
